body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}

.chevron {
  cursor: pointer;
}

.disabled {
  cursor: auto;
  color: rgb(94, 94, 94);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4A5568 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
}